<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="Server" value="LocalHost:50000"/>
    <add key="Database" value="DUOCDATA"/>
    <add key="Timeout" value="0"/>
    <add key="PortNo" value=""/>
    <add key="ReportPath" value="D:\AccountSystem\AccountSystem\Reports\"/>
    <add key="Permission" value="0912550151"/>
    <add key="NetworkLibrary" value="dbnmpntw"/>
  </appSettings>
</configuration>